<footer class="footer">
  <div class="footer-container">
    <div class="footer-brand">
      <img
        src="assets/images/logopowersense.png"
        alt="Powersense Logo"
        class="footer-logo"
      />
      <p class="brand-description">{{ "FOOTER.ABOUT_TEXT" | translate }}</p>
    </div>

    <!-- Quick Links -->
    <div class="footer-links">
      <a routerLink="/">{{ "HEADER.HOME" | translate }}</a>
      <a routerLink="/how-it-works">{{ "HEADER.HOW_IT_WORKS" | translate }}</a>
      <a routerLink="/plans">{{ "HEADER.PLANS" | translate }}</a>
      <a routerLink="/contact">{{ "HEADER.CONTACT" | translate }}</a>
    </div>

    <div class="footer-contact">
      <a href="mailto:{{ 'CONTACT.EMAIL_ADDRESS' | translate }}">{{
        "CONTACT.EMAIL_ADDRESS" | translate
      }}</a>
      <div class="social-icons">
        <a
          *ngFor="let link of socialLinks"
          href="#"
          [attr.aria-label]="link.name"
          class="social-icon"
          (click)="openSocialLink(link.url)"
        >
          <mat-icon>language</mat-icon>
        </a>
      </div>
    </div>
    <!-- language toggle -->
    <div class="footer-bottom">
      <p>© {{ currentYear }} VetCare</p>
      <div class="language-selector">
        <button
          [class.active]="currentLang === 'en'"
          (click)="changeLang('en')">
          EN
        </button>
        <button
          [class.active]="currentLang === 'es'"
          (click)="changeLang('es')">
          ES
        </button>
      </div>
    </div>
  </div>
</footer>
